.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    cursor: pointer;
}
.number{
    font-family: var(--title-font);
    color: var(--text-color);
    font-size: 30px;
}
.cart{
    fill: var(--text-color);
    width: 50px;
    margin-right: 10px;
}

.container:hover .number{
    color: var(--hover-text-color);
}
.container:hover .cart{
    fill: var(--hover-text-color);
}

@media(max-width:400px){
    .number{
        font-size: 20px;
    }
    .cart{
        width: 30px;
    }
}