.container{
    position: relative;
    height:  90vh;
    width: 100vw;
    z-index: -20;
    margin-top: 100px;
    overflow: hidden;
    border-radius: 50px;
    display: flex;
    justify-content: center;
}

.containerTow{
    position: absolute;
    top: 100px;
    height: 90vh;
    width: 100vw;
    z-index: 0;
}

.fondoContainer{
    position: absolute;
    bottom: 0px;
    height: 100%;
    width: 100%;
}

.fondo{
   height: 100%;
   min-height: 100%;
   min-width: 100%;
}

.personajeContainer{
    position: absolute;
    bottom: 5%;
    height: 70%;
    width: 100%;
}
.personaje{
    height: 100%;
}
.brandContainer{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 450px;
    padding: 50px;
}
.logo{
width: 100%;
height: auto;
}
.epigraph{
    font-family: var(--text-font);
    color: #0800ad;
    font-size: 1.5rem;
    text-shadow:  -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.btnContainer{
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 40px;
}

@media(max-width:1000px){
    .brandContainer{
        width: 350px;
    }

    .epigraph{
        font-size: 1.5rem;
    }
}
@media(max-width:700px){
    .brandContainer{
        width: 300px;
        padding: 40px;
    }
    .epigraph{
        font-size: 1rem;
    }
}
@media(max-width:600px){
    .brandContainer{
        width: 250px;
        padding: 30px;
    }
  
}
@media(max-width:500px){
    .brandContainer{
        width: 200px;
        padding: 30px;
    }
  
}
@media(max-width:400px){
   .container{
    margin-top: 70px;
   } 

   .epigraph{
    font-size: .7rem;
}
}
