.cartMainContainer{
    position: fixed;
    right: 0px;
    top:90px;
    height: calc( 100vh - 90px);
    width: 80%;
    max-width: 350px;
    background-color: white;
    /* z-index: 100; */
    box-shadow: -5px 10px 5px rgba(0, 0, 0, .3);
    transition: 1s;
    
}
.storeCartMainContainer{
    position: fixed;
    right: 0px;
    top: 80px;
    height: calc( 100vh - 80px);
    width: 80%;
    max-width: 350px;
    background-color: white;
    /* z-index: 100; */
    box-shadow: -5px 10px 5px rgba(0, 0, 0, .3);
    overflow-y: scroll;
    overflow-x: hidden;
    transition: 1s;
}
.cartMainContainerClose{
    position: fixed;
    right: 0px;
    top:90px;
    height: calc( 100vh - 90px);
    width: 80%;
    max-width: 350px;
    background-color: white;
    /* z-index: 100; */
    box-shadow: -5px 5px 5px rgba(0, 0, 0, .3);
    transform: translateX(400px);
    transition: 1s;
}
.storeCartMainContainerClose{
    position: fixed;
    right: 0px;
    top: 80px;
    height: calc( 100vh - 80px);
    width: 80%;
    max-width: 350px;
    background-color: white;
    /* z-index: 100; */
    box-shadow: -5px 5px 5px rgba(0, 0, 0, .3);
    overflow-y: scroll;
    overflow-x: hidden;
    transform: translateX(400px);
    transition: 1s;
}

/*---------------header-------------------------*/

.headerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.headerContainer h3{
    font-family: var(--title-font);
    color: var(--text-color);
    font-weight: normal;
}
.closeContainer{
    width: 15px;
    height: 15px;
    fill: var(--text-color);
    cursor: pointer;
}

/*---------------table-------------------------*/
/* .table, .table td, .table th{
    border: solid 1px;
} */
.table{
    margin: auto;
    width: 80%;
    /* height: 500px; */
}
.table thead, .table tfoot{
    text-align: left;
}
.table thead{
    font-family: var(--text-font);
    color: var(--text-color);
    font-size: 12px;
}
.dropIcon{
    width: 20px;
    height: 20px;
    fill: red;
    cursor: pointer;
}
.priceTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 5px 5px 0px ;
    vertical-align: middle;
    max-width: 180px;
    height: 100%;
    font-family: var(--title-font);
    color: var(--text-color);
    font-weight: lighter;
    font-size: 15px;
}
.priceContainer{
    font-family: var(--title-font);
    color: var(--text-color);
    font-size: 15px;
}
.preview{
    --size: 60px;
    width: var(--size);
    height:var(--size);
    min-width: var(--size);
    min-height:var(--size);
    background-color: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-right: 5px;
}

.table tfoot{
    font-family: var(--title-font);
    color: var(--text-color);
}
.totalPrice{
    white-space: nowrap;
    font-size: 20px;
}

@media(max-width: 400px){
    .totalPrice{
        font-size: 15px;
    }
}
@media(max-width: 350px){
    .table{
        transform: scale(.9);
    }
}
@media(max-width: 300px){
    .table{
        transform: scale(.8) translateX(-20px);
    }
}

/*---------------btns-------------------------*/
.btnContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 22%;
    max-height: 150px;
    margin-top:  20px;
}
.btnContainer button{
    border: none;
    background-color: #8cb6f4;
    width: fit-content;
    height: fit-content;
    /* margin-bottom: 10px; */
    border-radius: 20px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    font-family: var(--title-font);
    color: white;
    cursor: pointer;
    font-size: 20px;
}
.btnContainer span{
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconBtn{
    fill: white;
    width: 30px;
    height: 30px;
}


@media(max-width: 450px){
    .storeCartMainContainer, .storeCartMainContainerClose{
        top: 59px;
        height: calc( 100vh - 59px);
    }

}
@media(max-width: 400px){
    .cartMainContainer{
        top: 65px;
        height: calc( 100vh - 65px);
    }
    .cartMainContainerClose{
        top: 65px;
        height: calc( 100vh - 65px);
    }
}