.container{
    position: absolute;
    top: 80px;
    left: 300px;
    width: calc( 100% - 300px);
    height: calc( 100% - 80px);
    background-color: white;
    display:  grid;
    grid-template-columns: repeat(3, 220px);
    gap: 20px;
    justify-content: center;
    padding: 20px; 
    padding-top: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
    
}

.index{
    grid-column: 1 / -1;
    list-style: none;
    font-family: var(--title-font);
    color: var(--text-color);
    font-size: 20px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
}
.index li{
    margin-right: 30px;
    cursor: pointer;
}

@media(max-width: 1070px){
    .container{
        grid-template-columns: repeat(2, 220px);
    }
}
@media(max-width: 850px){
    .container{
        left: 0px;
        width:  100%;
        z-index: -1;
    }
}

@media(max-width: 510px){
    .container{
        grid-template-columns: repeat(1, 220px);
    }
}
@media(max-width: 450px){
    .container{
        top: 60px;
        height: calc( 100% - 60px);
    }
}