:root{
  --text-color: #555655;
  --title-font: 'Abril Fatface', cursive;
  --text-font: 'Noto Sans', sans-serif;
  --hover-text-color:  #8b8b8b;
}
html,
body {
  padding: 0px;
  margin: 0px; 
}
html{
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
}
html ::-webkit-scrollbar{
  width: 12px;
}
html ::-webkit-scrollbar-track{
  background-color: rgb(236, 236, 236);
}
html ::-webkit-scrollbar-thumb{
  background-color: rgb(148, 148, 148);
  border-radius: 20px;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header{
  position: fixed;
  width: calc(100 * var(--vw));
  top: 0px;
  z-index: 10;
}
