:root{
  --text-color: #555655;
  --title-font: 'Abril Fatface', cursive;
  --text-font: 'Noto Sans', sans-serif;
  --hover-text-color:  #8b8b8b;
}
html,
body {
  padding: 0px;
  margin: 0px; 
  min-width: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header{
  position: fixed;
  width: calc(100 * var(--vw));
  top: 0px;
  z-index: 10;
}
