
.headerContainerFirst{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 5px;
  height: 100px;
}
.btnContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  min-width: 600px;

}
.menu{
  display: none;
}
.topLogo{
  width: 200px;
 min-width: 200px;
}

.movilMenuShow, .movilMenuHidden{
  display: none;
}

.movilMenuA{
  font-family: var(--title-font);
  font-size: 20px;
  color: var(--text-color);
  text-align: center;
  padding: 10px;
}

.nav{
  position: sticky;
  height: 60px;
  width: calc(100 * var(--vw));
  top: 75px;
  background-color: white;
  box-shadow:  0 5px 5px rgba(0, 0, 0, .2);
  z-index: 30;
  display: flex;
  align-items: center;

}

.navUl{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.navLi{
  font-family: var(--title-font);
  color: var(--text-color);
  font-size: 20px;
}
.navLi:hover{
  color: var(--hover-text-color);
}

@media(max-width: 750px){
  .btnContainer{
    width: 100%;
    min-width: 100px;

  }
  .topLogo{
   margin: auto;
  }
  
  .menu{
    display: block;
    width: 50px;

  }

  .movilMenuShow{
    display: flex;
    position: inherit;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    box-shadow:  0 5px 5px rgba(0, 0, 0, .3) ;
    background-color: white;
    border-radius: 0 0 5px 5px;
    padding-bottom: 20px;
    transition: 2s;
    z-index: -10;
  }

  .movilMenuHidden{
    display: flex;
    position: inherit;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: white;
    box-shadow:  0 5px 5px rgba(0, 0, 0, .3) ;
    border-radius: 0 0 5px 5px;
    padding-bottom: 20px;
    overflow: hidden;
    transform: translateY(-500px);
    z-index: -10;
    transition: 2s;
  }
  .nav{
    height: 50px;
    top: 90px;
  }
  .navLi{
    font-size: 30px;
  }
}

@media(max-width:400px){
  .topLogo{
    width: 50px;
    height: 50px;
  
  }

  .menu{
    width: 30px;
  }

  .btnContainer{
    width: 100%;
    min-width: 0px;
  }
  .nav{
    height: 50px;
  }
  .navLi{
    font-size: 25px;
  }
}

@media(max-width:300px){
  .topLogo{
   
    width: 150px;
    min-width: 0;
  
  }

  .btnContainer{
    justify-content: flex-start;
  }
  .menu{
   margin: 0;
   margin-right: 5px;
  }
}